
.warningField {
    -fx-background-color: pink;
}

.navButtons {
    -fx-padding: 5;
    -fx-spacing: 10;
    -fx-border-style: solid;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: gray;
    -fx-alignment: bottom-right;
}

.header {
    -fx-padding: 5;
}

.stepPane {
    -fx-font-size: 120%;
}

BorderPane {
    -fx-padding: 5;
}

GridPane {
    -fx-hgap: 3;
    -fx-vgap: 5;
}

.step1Link{
    -fx-border-style: hidden;
    -fx-border-color: gray;
}

.step1Note {
    -fx-font-weight: bold;
}

/*.label {
    -fx-wrap-text: true;
}*/


.step3vbox {
    -fx-padding: 5;
    -fx-spacing: 5;
}